body {
   font-family: 'Chewy', cursive;  /* Font source: https://fonts.google.com/specimen/Chewy */
  background-image: url('myfruitbg.avif');  /* global font and background  for the whole page */ /* Background image source: https://slidesdocs.com/background/cute-cartoon-fruit-border-powerpoint-background_abf8a82908 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.container { /* container for the smoothie form and output */
  max-width: 700px;
  margin: auto;
  background: lightpink;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Chewy', cursive; /* Page header styl*/
  text-align: center;
  color: #ff4081;
}

form { /*  Form layout with spacing */
  display: flex;
  flex-direction: column;
  gap: 15px;
}


fieldset { /* Ingredient selection box color */
  border: 2px solid lightskyblue;
}


button {  /*  Submit btn styling */
     font-family: 'Chewy', cursive;
     font-size: large;
  background-color: #ff4081;
  color: lightskyblue;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.output-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


#output { /* Smoothie desc box */
  flex: 1;
  padding: 15px;
  background: #e0f7fa;
  border-radius: 10px;
}


#smoothieImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


#smoothieImage img {
    background-color:#e0f7fa;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

select {  /*Dropdown styl for selects size, base, sweetenerr */
  background-color: lightpink; 
  border: 2px solid lightskyblue;
  color: #333;
  font-family: 'Chewy', cursive;
  padding: 5px;
  border-radius: 5px;
}


